html, body, canvas {margin: 0; border: 0; padding: 0; }
html, body, .conway {height: 100%; }
body {font-size: 0; line-height: 0; background: #7f7f7f; -o-user-select:none; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; }
.conway {text-align: center; }
.conway:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; }
.conway canvas {display: inline-block; vertical-align: middle; background: #fff; }
