html, body, canvas {margin: 0; border: 0; padding: 0; }
body {line-height: 0; background: #7f7f7f; }
canvas {display: block; position: absolute; left: 50%; top: 50%; background: #fff; transform: translateX(-50%) translateY(-50%); }
